<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>wordDetail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
</head>
<body>
<ul class="layui-nav">
  <li class="layui-nav-item">
    <a href="">控制台<span class="layui-badge">9</span></a>
  </li>
  <li class="layui-nav-item">
    <a href="">个人中心<span class="layui-badge-dot"></span></a>
  </li>
  <li class="layui-nav-item" lay-unselect="">
    <a href="javascript:;"><img src="http://t.cn/RCzsdCq" class="layui-nav-img"/>我</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">修改信息</a></dd>
      <dd><a href="javascript:;">安全管理</a></dd>
      <dd><a href="javascript:;">退了</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="javascript:;" th:text="'欢迎您，'+${user.username}"><span class="layui-badge-dot"></span></a>
  </li>
</ul>
<p th:text="'编辑'+${word.wordname}"></p>
<form class="layui-form" action="/interLearn/word/updateWordAndExample" method="get" lay-filter="example">
  <div class="layui-form-item">
    <label class="layui-form-label">翻译</label>
    <div class="layui-input-block">
      <input type="text" name="word_translate" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">描述</label>
    <div class="layui-input-block">
      <input type="text" name="word_describe" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">英文例句1</label>
    <div class="layui-input-block">
      <input type="text" name="word_example_en1" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">中文例句1</label>
    <div class="layui-input-block">
      <input type="text" name="word_example_cn1" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">英文例句2</label>
    <div class="layui-input-block">
      <input type="text" name="word_example_en2" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">中文例句2</label>
    <div class="layui-input-block">
      <input type="text" name="word_example_cn2" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"/>
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">英文例句3</label>
    <div class="layui-input-block">
      <input type="text" name="word_example_en3" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">中文例句3</label>
    <div class="layui-input-block">
      <input type="text" name="word_example_cn3" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"/>
    </div>
  </div>
  <input type="hidden" name="word_id"/>
  <input type="hidden" name="wordname"/>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="demo1">提交修改</button>
      <button class="layui-btn" lay-filter="demo2" type="button">恢复</button>
    </div>
  </div>
</form>

<script src="../layui/layui.all.js" charset="utf-8"></script>
<script src="../js/jquery-1.9.1.min.js"></script>
<script th:inline="javascript">
	layui.use(['form', 'layedit', 'laydate'], function(){
		var form = layui.form
		,layer = layui.layer
		,layedit = layui.layedit
		,laydate = layui.laydate;
		
		//表单初始赋值
		form.val('example', {
			"word_translate": [[${word.word_translate}]]
			,"word_describe": [[${word.word_describe}]]
			,"word_example_en1": [[${example[0].word_example_en}]]
			,"word_example_cn1": [[${example[0].word_example_cn}]]
			,"word_example_en2": [[${example[1].word_example_en}]]
			,"word_example_cn2": [[${example[1].word_example_cn}]]
			,"word_example_en3": [[${example[2].word_example_en}]]
			,"word_example_cn3": [[${example[2].word_example_cn}]]
			,"word_id":[[${word.word_id}]]
			,"wordname":[[${word.wordname}]]
		});
		
		//监听提交
		form.on('submit(demo1)', function(data){
			console.log(data.elem);
			console.log(data.form);
			layer.alert(JSON.stringify(data.field), {
			  title: '最终的提交信息'
			});
		});
	});
	
	/* function doSubmit(){
		$("form").submit();
		alert("修改成功");
	} */
</script>
<script src="../js/wordDetail.js" th:inline="javascript"></script>

</body>
</html>