<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>v-if,v-show,v-for 指令</title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="root">
			<div v-if="show">hello world</div>
			<button @click="change">toggle</button>
			<ul>
				<li v-for="(item,index) of list" :key="index">{{item}}</li>
			</ul>
		</div>
		
		<script type="text/javascript">
			new Vue({
				el:"#root",
				data:{
					show:true,
					list:[1,2,3]
				},
				methods:{
					change:function(){
						this.show=!this.show;
					}
				}
			})
		</script>
	</body>
</html>
