<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cqut.llj.mapper.WordMapper">
  <resultMap id="WordResultMap" type="edu.cqut.llj.pojo.Word">
    <id column="word_id" jdbcType="INTEGER" property="wordId" />
    <result column="word_describe" jdbcType="VARCHAR" property="wordDescribe" />
    <result column="word_translate" jdbcType="VARCHAR" property="wordTranslate" />
    <result column="wordname" jdbcType="VARCHAR" property="wordname" />
    <result column="word_example_cn1" jdbcType="VARCHAR" property="wordExampleCn1" />
    <result column="word_example_cn2" jdbcType="VARCHAR" property="wordExampleCn2" />
    <result column="word_example_cn3" jdbcType="VARCHAR" property="wordExampleCn3" />
    <result column="word_example_en1" jdbcType="VARCHAR" property="wordExampleEn1" />
    <result column="word_example_en2" jdbcType="VARCHAR" property="wordExampleEn2" />
    <result column="word_example_en3" jdbcType="VARCHAR" property="wordExampleEn3" />
  </resultMap>
  
  <resultMap id="UserResultMap" type="edu.cqut.llj.pojo.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="birth_day" property="birthDay" jdbcType="TIMESTAMP" />
    <result column="e_mail" property="eMail" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="WUResultMap" type="edu.cqut.llj.pojo.WordAndUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="relationship" property="relationship" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="word_id" property="wordId" jdbcType="INTEGER" />
  </resultMap>
  
  <!-- parameterType="java.lang.Integer"  -->
  	<!-- 查询所有单词 -->
	<!-- <select id="wordAndExample" resultType="edu.cqut.llj.vo.WordAndWordExample"> 
		select a.word_id,a.word_describe,a.word_translate,a.wordname,b.word_example_cn,b.word_example_en
		from word a join word_example b on a.word_id=b.word_id
	</select> -->
	<!-- 根据word_id查询例句 -->
	<!-- <select id="queryExampleById" resultType="edu.cqut.llj.pojo.WordExample" parameterType="java.lang.Integer"> 
		select *
		from word_example
		where word_id=#{word_id}
	</select> -->
	<!-- 根据word_id查询单词详情（wordAndWordExample） -->
	<!-- <select id="queryDetailById" resultType="edu.cqut.llj.vo.WordAndWordExample" parameterType="java.lang.Integer"> 
		select a.word_id,a.word_describe,a.word_translate,a.wordname,b.word_example_cn,b.word_example_en
		from word a join word_example b on a.word_id=b.word_id
		where a.word_id=#{word_id}
	</select> -->
	<!-- 根据word_id查询单词详情（word） -->
	<select id="queryWordById" resultType="edu.cqut.llj.pojo.Word" parameterType="java.lang.Integer"> 
		select *
		from word
		where word_id=#{word_id}
	</select>
	<!-- 查询未删除wordList的总长度 -->
	<select id="getWordListSize" resultType="java.lang.Integer"> 
		SELECT count(*)
		from word
		where status = 0
	</select>
	<!-- 删除单词 -->
	<update id="deleteWord">
		update word
		set status=1
		where word_id=#{0}
	</update>
	<!-- 方案1：在word_and_user查询1/2，查询条件：relation<3，即正在学习中的词 -->
	<select id="queryLearningWord" resultType="edu.cqut.llj.pojo.Word" parameterType="java.lang.Integer"> 
		SELECT w.*
		from word_and_user wu
		join `user` u on u.user_id=wu.user_id
		join word w on w.word_id=wu.word_id
		where wu.user_id=#{user_id} and wu.relationship &lt; 3
		ORDER BY RAND() LIMIT #{limit}
	</select>
	<!-- 方案2：在word中查询，查询量补齐 -->
	<select id="queryNewWord" resultType="edu.cqut.llj.pojo.Word" parameterType="java.lang.Integer"> 
		SELECT w.*
		from word w
		where w.status=0
		ORDER BY RAND() LIMIT #{limit}
	</select>
	<!-- 查询word与user的联系 -->
	<select id="queryRelation" resultType="edu.cqut.llj.pojo.WordAndUser" parameterType="java.lang.Integer"> 
		SELECT *
		from word_and_user
		where word_id=#{word_id} and user_id=#{user_id}
	</select>
	<!-- 根据word_id修改wordExample -->
	<!-- <update id="updateWordExample">
		update word_example
		set word_example_cn = #{1},word_example_en=#{2}
		where id=#{0}
	</update> -->
</mapper>